.about-equipment {
    padding-bottom: 25.3rem;

    &__heading {
        margin-bottom: 3.4rem;
        font-size: 4.5rem;
        line-height: 7.9rem;
        text-transform: uppercase;
    }

    &__swipers {
        margin-bottom: 6.7rem;
        display: flex;

        &-left {
            width: 115.3rem;

            &__heading {
                margin-bottom: 3.4rem;
                font-size: 4.5rem;
                line-height: 7.9rem;
                text-transform: uppercase;
            }
        }
    }

    &__swiper {
        margin-left: 0;
        margin-right: 0;

        &-slide {
            display: flex;
            justify-content: space-between;


            &__left {
                display: flex;
                align-items: center;
                justify-content: center;
                border: .2rem solid #D9D9D9;
                width: 67rem;
                height: 41.6rem;

                &-img {
                    width: 35.8rem;
                    height: 35.8rem;
                }
            }

            &__right {
                width: 41.6rem;

                &-title {
                    margin-top: 8.1rem;
                    margin-bottom: 2rem;
                    font-size: 2.4rem;
                    line-height: 3.3rem;
                    text-transform: uppercase;
                }

                &-description {
                    font-family: 'Euclid Circular A';
                    font-weight: 400;
                    font-size: 1.6rem;
                    line-height: 2.2rem;
                    color: rgba(255, 255, 255, 0.5);
                }
            }
        }
    }

    &__thumbs {
        margin-left: auto;
        margin-right: 0;
        width: 38rem;

        &-slide {
            padding-left: 2.8rem;
            padding-right: 3.4rem;
            display: flex;
            width: auto;
            border-right: .2rem solid #FFF;
            border-left: .2rem solid transparent;
            transition: border-color .2s ease-in-out;

            &.swiper-slide-active {
                border-color: #FFF;
            }

            &__title {
                margin: 0;
                font-size: 2rem;
                line-height: 3.3rem;
                text-transform: uppercase;
                writing-mode: vertical-rl;
                transform: scale(-1);
            }
        }
    }

    .about-equipment__swiper-controllers {
        padding-top: 2.8rem;
    }

    @media (max-width:48em) {
        padding-bottom: 33.2rem;

        &__swipers {
            margin-bottom: 4rem;
            flex-direction: column;

            &-left {
                width: 100%;

                &__heading {
                    margin-bottom: 10rem;
                    font-size: 5rem;
                    line-height: 6rem;
                }
            }
        }

        &__swiper {
            &-slide {
                flex-direction: column-reverse;
                justify-content: flex-start;

                &__right {
                    margin-bottom: 4rem;
                    width: 100%;

                    &-title {
                        margin-bottom: 3rem;
                        font-size: 3rem;
                        line-height: 4.6rem;
                    }

                    &-description {
                        font-size: 3rem;
                        line-height: 3.8rem;
                    }
                }

                &__left {
                    width: 100%;

                    &-img {
                        width: 34rem;
                        height: 34rem;
                    }
                }
            }

        }
    }
}