.swiper__controls {
    padding-top: 2rem;
    display: flex;
    align-items: center;
    width: 100%;
    border-top: .2rem solid #D9D9D9;

    &__link {
        display: flex;
        align-items: center;

        svg {
            margin-right: 1.4rem;
            width: 5rem;
            height: 5rem;
            object-fit: contain;
        }

        span {
            font-size: 1.6rem;
            line-height: 3rem;
            letter-spacing: 0.05em;
            text-transform: uppercase;
        }
    }

    &__prev,
    &__next {
        cursor: pointer;
        z-index: 10;

        svg {
            width: 3.1rem;
            height: 3.2rem;
            object-fit: contain;
        }
    }

    &__prev {
        margin-left: auto;
        margin-right: 5.2rem;
        position: relative;

        &::after {
            content: '';
            position: absolute;
            right: -2.6rem;
            top: -2.8rem;
            width: .2rem;
            height: 8.3rem;
            background-color: #FFF;
        }
    }

    &__next {
        margin-right: 13rem;
    }

    &__pagination {
        position: relative;
        bottom: auto;
        left: auto;
        top: auto;
        right: auto;
        width: auto;
        display: flex;
        align-items: center;

        .current {
            margin-right: 3rem;
        }

        .total {
            color: rgba(255, 255, 255, 0.4);
        }

        .current,
        .total {
            position: relative;
            display: inline-block;
            font-family: 'Euclid Circular A';
            font-weight: 700;
            font-size: 2rem;
            line-height: 2.7rem;
        }
    }

    @media (max-width: 48em) {
        &__link {
            svg {
                margin-right: 2.8rem;
                width: 8rem;
                height: 8rem;
            }

            span {
                font-size: 2.6rem;
                line-height: 6rem;
            }
        }

        &__prev, &__next {
            svg {
                width: 6.4rem;
                height: 6.2rem;
            }
        }

        &__prev {
            margin-right: 6.8rem;

            &::after {
                right: -3.4rem;
                height: 11rem;
            }
        }

        &__next {
            margin-right: -2rem;
        }
    }
}