.main-hero {
    &__swiper {

        &-next,
        &-prev {
            position: absolute;
            top: 82.2rem;
            z-index: 2;
            cursor: pointer;

            svg {
                width: 3.1rem;
                height: 3.2rem;
                object-fit: contain;
            }
        }

        &-prev {
            left: 60.8rem;

            &::after {
                content: '';
                position: absolute;
                bottom: -2.5rem;
                right: -2.6rem;
                width: .2rem;
                height: 8.3rem;
                background-color: #FFF;
            }
        }

        &-next {
            left: 69rem;
        }

        &>&-pagination {
            position: absolute;
            display: flex;
            flex-direction: column;
            top: 37rem;
            left: 12rem;
            bottom: auto;
            width: auto;
            z-index: 2;

            .slide {
                display: none;
            }

            .swiper-pagination-bullet {
                &:not(:last-child) {
                    margin-bottom: 1.3rem;
                }

                margin: 0;
                width: .8rem;
                height: .8rem;
                font-size: 0;
                line-height: 0;
                background-color:#44474E;
                backdrop-filter: blur(1rem);
                border-radius: 0;
                opacity: 1;

                &-active {
                    background-color: #FFF;
                }
            }
        }

        &-slide {
            &__top {
                width: 192rem;
                height: 88rem;

                .container {
                    position: relative;
                }

                &-img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    z-index: -1;
                }

                &-title {
                    position: absolute;
                    left: 0;
                    bottom: 3rem;
                    width: 46.5rem;
                    font-size: 2rem;
                    line-height: 3rem;
                    text-transform: uppercase;
                    color: #FFFFFF;
                }

                .main-hero__swiper-pagination {
                    position: absolute;
                    top: auto;
                    left: auto;
                    right: 0;
                    bottom: -1.1rem;

                    .slide {
                        display: none;
                    }

                    .swiper-pagination-bullet {
                        display: none;

                        &-active {
                            display: block;
                            width: auto;
                            height: auto;
                            font-size: 20rem;
                            line-height: 24.4rem;
                            text-transform: uppercase;
                            color: transparent;
                            background-color: unset;
                            -webkit-text-stroke: 1.4px rgba(255, 255, 255, 0.35);
                        }
                    }
                }
            }

            &__bottom {
                padding-top: 7rem;
                padding-bottom: 7rem;
                position: relative;
                background-color: #171717;
                border-top: .2rem solid #FFFFFF;
                border-bottom: .2rem solid #FFFFFF;

                &-title {
                    position: relative;
                    display: inline-block;

                    p {
                        font-size: 8rem;
                        line-height: 1;
                        color: #FFFFFF;
                        text-transform: uppercase;
                    }

                    >.main-hero__swiper-pagination {
                        position: absolute;
                        top: -.8rem;
                        right: -6.5rem;

                        .slide {
                            display: none;
                        }


                        .swiper-pagination-bullet {
                            display: none;

                            &-active {
                                display: block;
                                width: auto;
                                height: auto;
                                background-color: unset;
                                font-family: 'Euclid Circular A';
                                font-weight: 700;
                                font-size: 2rem;
                                line-height: 2.7rem;
                                color: rgba(255, 255, 255, 0.4);
                            }
                        }
                    }

                }



                &-left {
                    position: absolute;
                    right: 43.3rem;
                    top: 3.3rem;
                    width: 18rem;

                    &::after {
                        content: '';
                        position: absolute;
                        top: -3.3rem;
                        right: -6.2rem;
                        width: .2rem;
                        height: 8.3rem;
                        background-color: #FFF;
                    }

                    &-text {
                        font-family: 'Euclid Circular A';
                        font-weight: 500;
                        font-size: 2rem;
                        line-height: 2.9rem;
                        text-align: right;
                        color: #FFFFFF;
                    }
                }

                &-right {
                    position: absolute;
                    right: 10.1rem;
                    top: 3.3rem;
                    width: 22rem;

                    >.main-hero__swiper-pagination {
                        margin-bottom: 2.7rem;
                        font-family: 'Euclid Circular A';
                        font-weight: 700;
                        font-size: 1.6rem;
                        line-height: 2.7rem;
                        letter-spacing: 0.1em;
                        text-transform: uppercase;
                        color: rgba(255, 255, 255, 0.5);

                        .swiper-pagination-bullet {
                            display: none;

                            &-active {
                                display: inline-block;
                                position: relative;
                                width: auto;
                                height: auto;
                                background-color: unset;
                                font-family: 'Euclid Circular A';
                                font-weight: 700;
                                font-size: 1.6rem;
                                line-height: 2.7rem;
                                color: rgba(255, 255, 255, 0.5);

                                &::after {
                                    content: 'слайд';
                                    position: absolute;
                                    top: 0;
                                    right: -1rem;
                                    font-family: 'Euclid Circular A';
                                    font-weight: 700;
                                    font-size: 1.6rem;
                                    line-height: 2.7rem;
                                    color: rgba(255, 255, 255, 0.5);
                                    transform: translateX(100%);
                                }
                            }
                        }
                    }

                    &-text {
                        font-size: 1.6rem;
                        line-height: 3rem;
                        text-transform: uppercase;
                        color: #FFF;
                    }
                }
            }
        }
    }

    @media (max-width: 48em) {
        &__swiper {

            &-prev,
            &-next {
                top: 97.8rem;
                left: auto;

                svg {
                    width: 6.4rem;
                    height: 6.2rem;
                }
            }

            &-prev {
                right: 14.8rem;

                &::after {
                    right: -3rem;
                    bottom: -3.4rem;
                    height: 11rem;
                }
            }

            &-next {
                right: 3.4rem;
            }

            &-slide {
                &__top {
                    width: 100%;
                    height: 107.6rem;

                    &-img {
                        height: 107.6rem;
                    }

                    &-title {
                        left: 4rem;
                        bottom: 5rem;
                        width: 46rem;
                        font-size: 2.6rem;
                        line-height: 3.2rem;
                    }
                }

                &__bottom {
                    padding-top: 6rem;
                    padding-bottom: 6rem;

                    .container {
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                    }

                    &-title {
                        p {
                            font-size: 5rem;
                            line-height: 6rem;
                        }

                        &>.main-hero__swiper-pagination {
                            top: -.4rem;

                            .swiper-pagination-bullet-active {
                                font-size: 2.6rem;
                                line-height: 3.2rem;
                            }
                        }
                    }

                    &-left {
                        right: auto;
                        top: auto;
                        position: relative;
                        width: 19.8rem;

                        &-text {
                            font-size: 2.6rem;
                            line-height: 4rem;
                        }

                        &::after {
                            content: none;
                        }
                    }
                }
            }
        }
    }
}