.main-about {
    padding-top: 16.7rem;
    padding-bottom: 20rem;
    background-color: #FFF;

    &__heading {
        margin-bottom: 6.7rem;
        font-size: 4.5rem;
        line-height: 7.9rem;
        text-transform: uppercase;
        color: #171717;
    }

    &__list {
        margin-bottom: 18.5rem;
        display: flex;
        justify-content: space-between;
        width: 100%;

        &-item {
            width: 27.2rem;
            position: relative;
            display: flex;
            align-items: center;
            flex-direction: column;

            &::after {
                content: '';
                position: absolute;
                top: 0;
                right: -9.8rem;
                width: .2rem;
                height: 100%;
                background-color: rgba(23, 23, 23, 0.8);
            }

            &:last-child {
                &::after {
                    content: none;
                }
            }

            &:nth-child(even) {
                .main-about__list-item__img {
                    margin-bottom: 4.9rem;
                    order: 0;
                }

                .main-about__list-item__number {
                    margin-bottom: 3.8rem;
                    order: 1;
                }

                .main-about__list-item__description {
                    margin-bottom: 0;
                    order: 2;
                }
            }

            &__img {
                margin-bottom: 6.7rem;
                width: 27.2rem;
                height: 27.2rem;
                object-fit: contain;
            }

            &__description {
                margin-bottom: 3.8rem;
                width: 23.6rem;
                font-size: 1.6rem;
                line-height: 2.7rem;
                text-align: center;
                text-transform: uppercase;
                color: #171717;
            }

            &__number {
                display: flex;
                align-items: flex-end;

                .number {
                    margin-right: 2.5rem;
                    font-size: 10rem;
                    line-height: 12.2rem;
                    text-transform: uppercase;
                    color: #171717;
                }

                .text {
                    font-size: 2rem;
                    line-height: 2.4rem;
                    text-transform: uppercase;
                    color: #171717;
                    transform: translateY(-75%);
                }
            }
        }
    }

    &__swiper-subheading {
        margin-left: 1.7rem;
        margin-bottom: .7rem;
        font-family: 'Euclid Circular A';
        font-weight: 500;
        font-size: 2rem;
        line-height: 2.9rem;
        color: #FF2C1F;
    }

    &__swiper-heading {
        margin-left: 1.7rem;
        font-size: 4.5rem;
        line-height: 7.9rem;
        text-transform: uppercase;
        color: #171717;
    }

    &__swiper {
        &-slide {
            display: flex;

            &__left {
                padding-top: 20.9rem;
                padding-bottom: 20.8rem;
                padding-right: 10rem;
                position: relative;
                width: 84rem;
                display: flex;
                justify-content: flex-end;

                &::after {
                    content: '';
                    position: absolute;
                    top: 20.9rem;
                    right: 0;
                    width: .2rem;
                    height: 36.6rem;
                    background-color: #171717;
                }

                &-img {
                    position: absolute;
                    left: -26.2rem;
                    bottom: -13.9rem;
                    width: 98.1rem;
                    height: 92.8rem;
                }

                &-text {
                    padding: 2.9rem 3rem 2.6rem 3rem;
                    width: 27.2rem;
                    height: 27.2rem;
                    display: flex;
                    flex-direction: column;
                    background-color: #171717;

                    &-top,
                    &-bottom {
                        font-size: 1.6rem;
                        line-height: 2.7rem;
                        text-transform: uppercase;
                        text-align: right;
                        color: #FFF;
                    }

                    &-bottom {
                        margin-top: auto;
                    }

                }
            }

            &__right {
                padding-top: 20.9rem;
                position: relative;
                width: 84rem;
                display: flex;
                justify-content: flex-end;

                &-img {
                    position: absolute;
                    left: -16.5rem;
                    bottom: -13.9rem;
                    width: 98.1rem;
                    height: 92.8rem;
                }

                &-text {
                    padding: 2.9rem 3rem 2.6rem 3rem;
                    width: 27.2rem;
                    height: 27.2rem;
                    display: flex;
                    flex-direction: column;
                    background-color: #171717;

                    &-top,
                    &-bottom {
                        font-size: 1.6rem;
                        line-height: 2.7rem;
                        text-transform: uppercase;
                        text-align: right;
                        color: #FFF;
                    }

                    &-bottom {
                        margin-top: auto;
                    }

                }

            }
        }
    }

    &__swiper-controllers {
        border-color: #171717;

        &__link {
            span {
                color: #171717;
            }
        }

        .main-about__swiper-prev,
        .main-about__swiper-next {
            svg {
                path {
                    stroke: #171717;
                }
            }
        }

        .main-about__swiper-prev {
            &::after {
                background-color: #171717;
            }
        }

        .main-about__swiper-pagination {
            .current {
                color: #171717;
            }

            .total {
                color: #8B8B8B;
            }
        }
    }

    @media (max-width: 48em) {
        padding-top: 18rem;
        padding-bottom: 18rem;

        &__heading {
            margin-bottom: 10rem;
            font-size: 5rem;
            line-height: 6rem;
        }

        &__list-container {
            -ms-overflow-style: none;
            overflow: scroll;

            /* хром, сафари */
            &::-webkit-scrollbar {
                width: 0;
            }
        }

        &__list {
            margin-bottom: 18rem;
            width: auto;
            justify-content: flex-start;

            &-item {
                padding-left: 4rem;
                padding-right: 4rem;
                width: auto;
                flex: 0 0 46rem;
                border-right: 1.5px solid rgba(23, 23, 23, 0.8);

                &:first-child {
                    padding-left: 0;
                    flex: 0 0 42rem;
                }

                &:last-child {
                    padding-right: 0;
                    flex: 0 0 42rem;
                    border: none;
                }

                &:nth-child(even) {
                    .main-about__list-item__img {
                        margin-bottom: 3rem;
                    }

                    .main-about__list-item__number {
                        margin-bottom: 4rem;
                    }

                    .main-about__list-item__description {
                        margin-top: auto;
                        margin-bottom: 0;
                    }
                }

                &::after {
                    content: none;
                }

                &__img {
                    margin-bottom: 4rem;
                    width: 100%;
                    height: 38rem;
                }

                &__description {
                    width: 35.6rem;
                    font-size: 2.6rem;
                    line-height: 4rem;
                }

                &__number {
                    .text {
                        font-size: 3rem;
                        line-height: 3.6rem;
                        transform: translateY(-50%);
                    }
                }
            }
        }

        &__swiper-subheading {
            margin-left: 0;
            margin-bottom: 2rem;
            font-size: 2.6rem;
            line-height: 3.2rem;
        }

        &__swiper-heading {
            margin-left: 0;
            font-size: 5rem;
            line-height: 6rem;
        }

        &__swiper {
            &-slide {
                &__left {
                    padding: 0;
                    padding-top: 22.4rem;
                    padding-bottom: 19rem;
                    width: 100%;

                    &-img {
                        width: 92.6rem;
                        height: 87.8rem;
                        left: -26.4rem;
                        bottom: -11.4rem;
                    }

                    &-text {
                        padding: 2.6rem;
                        width: 30rem;
                        height: 30rem;

                        &-top {
                            font-size: 2rem;
                            line-height: 2.4rem;
                        }

                        &-bottom {
                            font-size: 2rem;
                            line-height: 3rem;
                        }
                    }

                    &::after {
                        content: none;
                    }
                }
            }
        }
    }
}