.services-feeding {
    padding-top: 8.5rem;
    padding-bottom: 10.8rem;
    background-color: #FFF;

    &__swipers {
        margin-bottom: 5rem;
        display: flex;

        &-left {
            width: 114.5rem;

            &__heading {
                margin-bottom: 3.4rem;
                font-size: 4.5rem;
                line-height: 7.9rem;
                text-transform: uppercase;
                color: #171717;
            }
        }
    }

    &__swiper {
        margin-left: 0;
        margin-right: 0;

        &-slide {
            display: flex;
            align-items: center;
            justify-content: space-between;

            &__left {
                width: 66.8rem;

                &-img {
                    width: 100%;
                    height: 41.6rem;
                    object-fit: cover;
                }
            }

            &__center {
                width: 41rem;

                &-subtitle {
                    margin-bottom: 1.7rem;
                    font-size: 2.4rem;
                    line-height: 3.3rem;
                    text-transform: uppercase;
                    color: #171717;
                }

                &-description {
                    font-family: 'Euclid Circular A';
                    font-weight: 400;
                    font-size: 1.6rem;
                    line-height: 2.2rem;
                    color: rgba(23, 23, 23, 0.5);
                }
            }
        }
    }

    &__thumbs {
        margin-left: auto;
        margin-right: 0;
        width: 19rem;

        &-slide {
            padding-left: 2.8rem;
            padding-right: 3.4rem;
            display: flex;
            width: auto;
            border-right: .2rem solid #171717;
            border-left: .2rem solid transparent;
            transition: border-color .2s ease-in-out;

            &.swiper-slide-active {
                border-color: #171717;
            }


            &__title {
                margin: 0;
                font-size: 2rem;
                line-height: 3.3rem;
                color: #171717;
                text-transform: uppercase;
                writing-mode: vertical-rl;
                transform: scale(-1);
            }
        }
    }

    .services-feeding__swiper-controllers {
        border-color: #171717;
        padding-top: 2.8rem;
    }

    .services-feeding__swiper-pagination {
        .current {
            color: #171717;
        }

        .total {
            color: rgba(23, 23, 23, 0.4);
        }
    }

    .services-feeding__swiper-next,
    .services-feeding__swiper-prev {
        svg {
            path {
                stroke: #171717;
            }
        }
    }

    .services-feeding__swiper-prev {
        &::after {
            background-color: #171717;
        }
    }

    @media (max-width: 48em) {
        padding-top: 12rem;
        padding-bottom: 13.2rem;

        &__swipers {
            margin-bottom: 4rem;

            &-left {
                width: 100%;

                &__heading {
                    margin-bottom: 10rem;
                    font-size: 5rem;
                    line-height: 6rem;
                    text-transform: uppercase;
                }
            }
        }

        &__swiper {
            width: 100%;

            &-slide {
                flex-direction: column-reverse;
                justify-content: unset;

                &__center {
                    margin-top: 0;
                    margin-bottom: 4rem;
                    width: 100%;

                    &-title {
                        margin-bottom: 5rem;
                        font-size: 2.6rem;
                        line-height: 3.2rem;
                    }

                    &-subtitle {
                        margin-bottom: 3rem;
                        font-size: 3rem;
                        line-height: 4.6rem;
                    }

                    &-description {
                        width: 100%;
                        font-size: 3rem;
                        line-height: 3.8rem;
                    }
                }

                &__left {
                    width: 100%;
                }
            }
        }
    }
}