@import "set";
@import "components";
@import "../fonts/fonts";

@import "header";
@import "footer";
@import "main-hero";
@import "main-services";
@import "main-about";
@import "main-geography";
@import "main-partners";
@import "main-contacts";


@import "services-hero";
@import "services-cleaning";
@import "services-feeding";
@import "services-exploitation";

@import "geography-hero";
@import "geography-main";

@import "partners-hero";
@import "partners-objects";
@import "partners-centers";
@import "partners-stores";

@import "about-hero";
@import "about-advantages";
@import "about-numbers";
@import "about-certificates";
@import "about-equipment";

@import "contacts-hero";
@import "contacts-main";

@import "error-main";



body.lock {
  overflow: hidden;
}

@media (min-width: 48.01em) {
  .mobile {
    display: none !important;
  }
}

@media (max-width: 48em) {
  .desktop {
    display: none !important;
  }
}